@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>To add new candidate or see and update candidate's information, please click the above navigation bar'</p>
</div>
